@import "_mixins";

@borderColor: #FFB300;
@inactiveColor: #E0E0E0;
@activeColor: #FFC107;

@transitionDuration: cubic-bezier(.4, 0, .2, 1) .3s;

@border: 2px solid @borderColor;

:root {
	font-size: 16px; // Layout base unit
}

* {
	box-sizing: border-box;
}

.Canvas {
	position: relative;
	background-color: #FFF3E0;
	border: 2px solid #FFB74D;
	overflow: auto;
	box-sizing: content-box;
	padding: .25rem;

	> * {
		position: absolute;
	}
}

input[type=checkbox] {
	@size: 3rem;
	-moz-appearance: none;
	position: relative;
	.square(@size);
	overflow: hidden;

	&:before {
		content: '';
		display: block;
		.square(@size);
		box-sizing: border-box;
		background-color: @inactiveColor;
		border: @border;
		transition: background @transitionDuration;
	}

	&:checked:before {
		background-color: @activeColor;
	}

	&:after {
		white-space: pre;
		content: '0\00000a1';
		font-size: 2rem;
		display: block;
		.square(@size);
		line-height: @size;
		text-align: center;
		position: absolute;
		top: 0;
		transition: top @transitionDuration;
	}

	&:checked:after {
		top: -@size;
	}
}

.Connector {
	background: @inactiveColor;
}