@import "_variables";

body, *:before, *:after {
	font-family: 'PT Sans', sans-serif;
}

body {
	margin: 0;
}

nav {
	@tabHeight: 64px;
	@indicatorHeight: 2px;

	background-color: #3F51B5;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28);
	width: 100%;
	display: flex;
	justify-content: center;

	> a {
		display: flex;
		align-items: center;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: rgba(255,255,255, .54) !important;
		height: @tabHeight;
		font-weight: bold;
		font-size: 14px;
		padding: 0 24px;
		position: relative;
		transition: color .2s @easing;

		&:hover {
			color: rgba(255,255,255, .87) !important;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			background-color: #FFC107;
			width: 100%;
			left: 0;
			top: -@indicatorHeight;
			bottom: @tabHeight;
			opacity: 0;
			// This transition applies when leaving active state
			transition: bottom @duration @easing, top @duration @easing, opacity @duration @easing;
		}
	}

	> a:target {
		color: white !important;

		&:before {
			top: @tabHeight - @indicatorHeight;
			bottom: 0;
			opacity: 1;
			// This transition applies when entering active state; do not animate the opacity.
			transition: bottom @duration @easing, top .4s @easing;
		}
	}

	@contentSlideDistance: 96px;

	> section {
		position: absolute;
		top: @tabHeight;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 48px;
		// Changing the display property breaks transitions, so I hide it this way instead.
		opacity: 0;
		pointer-events: none;
		transition: margin-left @duration @easing, opacity @duration;
		// When a tab that precedes the active tab deactivates, slide left
		margin-left: -@contentSlideDistance;
	}

	> a:target + section ~ section {
		// When a tab that follows the active tab deactivates, slide right
		margin-left: @contentSlideDistance;
	}

	> a:target + section {
		pointer-events: auto;
		opacity: 1;
		margin: 0;
	}
}

ul.CanvasList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	li {
		text-align: center;
		display: block;
		margin: 0 48px 48px 0;
	}
}
